In [53]:
import pandas as pd
import numpy as np
import os
from datetime import datetime
import calendar

In [54]:
os.chdir('c:\\Users\\tyler\\OneDrive\\Documents\\Python\\NFL')
os.getcwd()

'c:\\Users\\tyler\\OneDrive\\Documents\\Python\\NFL'

# Import 2021 Picks

In [55]:
df = pd.read_csv('backend\\data\\predictions\\2021_nn.csv')
df['date'] = pd.to_datetime(df['date'])
df = df[df['date'] >= datetime(2021, 9, 1)]
df['hit'] = df['prediction'] == df['outcome']
df.dropna(inplace=True)

In [63]:
week = df[df['week'] == 9]
for index, row in week.iterrows():
    ml_a = '+{odds}'.format(odds=row['ml_a']) if row['ml_a'] > 0 else row['ml_a']
    ml_h = '+{odds}'.format(odds=row['ml_h']) if row['ml_h'] > 0 else row['ml_h']
    win = 'W' if row['prediction'] == row['outcome'] else 'L'
    print(f"{row['away']} ({ml_a}) @ {row['home']} ({ml_h})")
    print(f"\t {row['prediction']} {row['risk_unit']}u {win}")

New York Jets (+340) @ Indianapolis Colts (-450)
	 New York Jets 3.0u L
New England Patriots (-180) @ Carolina Panthers (+155)
	 New England Patriots 0.5u W
Cleveland Browns (+600) @ Cincinnati Bengals (-900)
	 Cleveland Browns 3.5u W
Houston Texans (+160) @ Miami Dolphins (-190)
	 Houston Texans 2.0u L
Las Vegas Raiders (-150) @ New York Giants (+130)
	 Las Vegas Raiders 0.25u L
Arizona Cardinals (-135) @ San Francisco 49ers (+115)
	 San Francisco 49ers 0.5u L

## Betting Analysis

In [57]:
# Per Unit
per_unit = df.groupby(['risk_unit']).aggregate({'profit': 'sum', 'hit': ['sum', 'count']})
per_unit['perc'] = (per_unit[('hit', 'sum')] / per_unit[('hit', 'count')] * 100).apply(round)
per_unit

              profit hit       perc
                 sum sum count
risk_unit
0.25       -2.602093   8    23   35
0.50       -0.739936  12    22   55
1.50       10.655959  19    34   56
2.00      -12.294203   4    14   29
3.00       23.850000   6    14   43
3.50        7.000000   1     5   20

In [58]:
# Per Month
df['month'] = df['date'].dt.month
df['month'] = df['month'].apply(lambda x: calendar.month_abbr[x])
per_month = df.groupby(['month']).aggregate({'profit': 'sum', 'hit': ['sum', 'count']})
per_month['perc'] = (per_month[('hit', 'sum')] / per_month[('hit', 'count')] * 100).apply(round)
per_month.sort_values(by=[('profit', 'sum'), ], ascending=False)

          profit hit       perc
             sum sum count
month
Nov    29.323016  15    31   48
Dec    15.527866   9    19   47
Sep     1.250000   1     1  100
Oct    -5.574713  18    40   45
Jan   -14.656441   7    21   33

In [59]:
# Per Week
per_week = df.groupby(['week']).aggregate({'profit': 'sum', 'hit': ['sum', 'count']})
per_week['perc'] = (per_week[('hit', 'sum')] / per_week[('hit', 'count')] * 100).apply(round)
per_week

         profit hit       perc
            sum sum count
week
4     -2.710158   6    11   55
5    -10.925000   2     9   22
6     -6.469100   3     7   43
7      4.129545   4     6   67
8     11.650000   4     8   50
9     15.527778   2     6   33
10     2.200000   2     6   33
11     4.078571   7    11   64
12     7.516667   4     8   50
13     2.175000   1     1  100
14     0.782353   3     5   60
15     2.750000   1     6   17
16     9.820513   4     7   57
17    -1.806441   5     7   71
18    -8.500000   0     7    0
19    -5.500000   0     3    0
20     1.150000   2     4   50

In [7]:
# Per Team
per_team = df.groupby(['prediction']).aggregate({'profit': 'sum', 'hit': ['sum', 'count']})
per_team['perc'] = (per_team[('hit', 'sum')] / per_team[('hit', 'count')] * 100).apply(round)
per_team.sort_values(by=[('profit', 'sum'), ], ascending=False)

                             profit hit       perc
                                sum sum count
prediction
Cleveland Browns          22.439130   3     4   75
Houston Texans            10.750000   1     2   50
Tampa Bay Buccaneers      10.725000   2     2  100
Cincinnati Bengals         9.813158   4     5   80
Indianapolis Colts         4.050000   1     1  100
Minnesota Vikings          3.582353   2     2  100
Los Angeles Chargers       2.905392   3     4   75
New York Jets              2.578846   3     7   43
New York Giants            1.875000   1     1  100
Washington Football Team   1.851852   3     6   50
Tennessee Titans           1.463889   4     7   57
Dallas Cowboys             1.200000   1     2   50
Green Bay Packers          0.794665   2     4   50
Arizona Cardinals          0.775000   3     8   38
San Francisco 49ers        0.683333   3     5   60
Jacksonville Jaguars       0.550000   1     1  100
Los Angeles Rams          -0.150000   1     3   33
Kansas City Chiefs        -0.415179   2     4   50
New England Patriots      -0.655556   3     5   60
Las Vegas Raiders         -1.295455   1     3   33
Chicago Bears             -1.500000   0     1    0
Buffalo Bills             -1.500000   0     1    0
Atlanta Falcons           -1.900000   1     3   33
Philadelphia Eagles       -2.444444   2     5   40
Detroit Lions             -3.000000   0     1    0
Denver Broncos            -5.250000   0     4    0
New Orleans Saints        -6.500000   0     5    0
Seattle Seahawks          -8.250000   1     4   25
Carolina Panthers         -8.500000   0     3    0
Baltimore Ravens          -8.807258   2     9   22