In [182]:
import pandas as pd
import numpy as np
import os
from datetime import datetime
import calendar

In [183]:
os.chdir('c:\\Users\\tyler\\OneDrive\\Documents\\Python\\NFL')
os.getcwd()

'c:\\Users\\tyler\\OneDrive\\Documents\\Python\\NFL'

# Import 2021 Picks

In [184]:
df = pd.read_csv('backend\\data\\predictions\\2021_nn.csv')
df['date'] = pd.to_datetime(df['date'])
df['y'] = np.where(df['y'], df['home'], df['away'])
df['y_pred'] = np.where(df['y_pred'], df['home'], df['away'])
df.dropna(inplace=True)
df

,date,home,away,week,season,y,ml_h,ml_a,y_pred,y_prob_a,...,prob_a,prob_h,h_diff,a_diff,pick_diff,pick_fav,pick_odds,risk_correct,risk_unit,risk_profit
0,2021-09-30,Cincinnati Bengals,Jacksonville Jaguars,4,2021,Cincinnati Bengals,-350,270,Cincinnati Bengals,0.026688,...,0.270270,0.777778,0.195534,-0.243582,0.195534,1,-350,1,7.00,2.000000
1,2021-10-03,Denver Broncos,Baltimore Ravens,4,2021,Baltimore Ravens,-120,100,Baltimore Ravens,0.622620,...,0.500000,0.545455,-0.168075,0.122620,0.122620,0,100,1,1.50,1.500000
2,2021-10-03,New York Jets,Tennessee Titans,4,2021,New York Jets,205,-255,New York Jets,0.476896,...,0.718310,0.327869,0.195235,-0.241413,0.195235,0,200,1,4.00,8.200000
3,2021-10-10,Cincinnati Bengals,Green Bay Packers,5,2021,Green Bay Packers,115,-135,Cincinnati Bengals,0.360547,...,0.574468,0.465116,0.174336,-0.213921,0.174336,0,100,0,2.00,-2.000000
4,2021-10-10,Dallas Cowboys,New York Giants,5,2021,Dallas Cowboys,-320,250,Dallas Cowboys,0.038608,...,0.285714,0.761905,0.199487,-0.247106,0.199487,1,-300,1,6.00,1.875000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,2022-01-15,Cincinnati Bengals,Las Vegas Raiders,19,2021,Cincinnati Bengals,-280,225,Cincinnati Bengals,0.185595,...,0.307692,0.736842,0.077563,-0.122097,0.077563,1,-300,1,3.00,1.071429
85,2022-01-16,Dallas Cowboys,San Francisco 49ers,19,2021,San Francisco 49ers,-170,150,Dallas Cowboys,0.249186,...,0.400000,0.629630,0.121184,-0.150814,0.121184,1,-150,0,2.25,-2.250000
86,2022-01-16,Kansas City Chiefs,Pittsburgh Steelers,19,2021,Kansas City Chiefs,-600,435,Kansas City Chiefs,0.000357,...,0.186916,0.857143,0.142500,-0.186559,0.142500,1,-600,1,9.00,1.500000
87,2022-01-16,Tampa Bay Buccaneers,Philadelphia Eagles,19,2021,Tampa Bay Buccaneers,-335,260,Tampa Bay Buccaneers,0.071505,...,0.277778,0.770115,0.158380,-0.206273,0.158380,1,-350,1,7.00,2.089552
88,2022-02-13,Cincinnati Bengals,Los Angeles Rams,22,2021,Los Angeles Rams,160,-190,Los Angeles Rams,0.817890,...,0.655172,0.384615,-0.202506,0.162718,0.162718,1,-200,1,4.00,2.105263

In [185]:
week = df[df['week'] == 9]
for index, row in week.iterrows():
    ml_a = '+{odds}'.format(odds=row['ml_a']) if row['ml_a'] > 0 else row['ml_a']
    ml_h = '+{odds}'.format(odds=row['ml_h']) if row['ml_h'] > 0 else row['ml_h']
    win = 'W' if row['y_pred'] == row['y'] else 'L'
    print(f"{row['away']} ({ml_a}) @ {row['home']} ({ml_h})")
    print(f"\t {row['y_pred']} {row['risk_unit']}u {win}")

New York Jets (+340) @ Indianapolis Colts (-450)
	 Indianapolis Colts 6.75u W
Denver Broncos (+340) @ Dallas Cowboys (-450)
	 Dallas Cowboys 9.0u L
Buffalo Bills (-1125) @ Jacksonville Jaguars (+700)
	 Buffalo Bills 5.5u L
Green Bay Packers (+260) @ Kansas City Chiefs (-335)
	 Kansas City Chiefs 1.75u W
Los Angeles Chargers (-110) @ Philadelphia Eagles (-110)
	 Philadelphia Eagles 2.0u L
Chicago Bears (+240) @ Pittsburgh Steelers (-305)
	 Pittsburgh Steelers 4.5u W

## Betting Analysis

In [186]:
# Per Unit
per_unit = df.groupby(['risk_unit']).aggregate({'risk_profit': 'sum', 'risk_correct': ['sum', 'count']})
per_unit['perc'] = (per_unit[('risk_correct', 'sum')] / per_unit[('risk_correct', 'count')] * 100).apply(round)
per_unit

          risk_profit risk_correct       perc
                  sum          sum count
risk_unit
0.50         0.400000            1     1  100
1.00         2.581871            4     5   80
1.50         2.420455            4     6   67
1.75         1.022388            2     2  100
2.00        -5.988889            4    10   40
2.25        -7.448276            1     5   20
2.50        -0.558069            2     3   67
3.00         1.578341            4     5   80
3.50         1.445015            2     2  100
3.75         1.500000            1     1  100
4.00         6.305263            2     3   67
4.50         1.475410            1     1  100
5.00        -3.000000            1     2   50
5.50        -5.011111            1     2   50
6.00         5.253978            3     3  100
6.75         3.000000            2     2  100
7.00         5.061774            3     3  100
7.50         4.478107            3     3  100
8.00        -0.284075            4     5   80
8.25         4.500000            3     3  100
9.00        -9.449153            6     8   75
9.75        -6.750000            2     3   67
10.00       -0.843895            5     6   83
10.50        3.013889            2     2  100
11.25      -11.250000            0     1    0
12.00        0.500000            1     1  100
14.00        1.018182            1     1  100

In [187]:
# Per Fav
# Per Unit
per_fav = df.groupby(['pick_fav']).aggregate({'risk_profit': 'sum', 'risk_correct': ['sum', 'count']})
per_fav['perc'] = (per_fav[('risk_correct', 'sum')] / per_fav[('risk_correct', 'count')] * 100).apply(round)
per_fav

         risk_profit risk_correct       perc
                 sum          sum count
pick_fav
0           9.275000            7    12   58
1         -14.303795           58    77   75

In [188]:
df[df['pick_fav'] == 0][['date', 'home', 'ml_h', 'away', 'ml_a', 'y', 'y_pred', 'pick_diff', 'risk_unit', 'risk_profit']]

,date,home,ml_h,away,ml_a,y,y_pred,pick_diff,risk_unit,risk_profit
1,2021-10-03,Denver Broncos,-120,Baltimore Ravens,100,Baltimore Ravens,Baltimore Ravens,0.122620,1.50,1.500
2,2021-10-03,New York Jets,205,Tennessee Titans,-255,New York Jets,New York Jets,0.195235,4.00,8.200
3,2021-10-10,Cincinnati Bengals,115,Green Bay Packers,-135,Green Bay Packers,Cincinnati Bengals,0.174336,2.00,-2.000
5,2021-10-10,Kansas City Chiefs,-145,Buffalo Bills,125,Buffalo Bills,Buffalo Bills,0.059511,1.00,1.250
6,2021-10-10,Los Angeles Chargers,-135,Cleveland Browns,115,Los Angeles Chargers,Cleveland Browns,0.055155,1.00,-1.000
18,2021-10-24,New York Giants,125,Carolina Panthers,-145,New York Giants,New York Giants,0.055924,1.00,1.250
43,2021-11-29,Washington Football Team,-120,Seattle Seahawks,100,Washington Football Team,Seattle Seahawks,0.155074,2.00,-2.000
45,2021-12-05,Cincinnati Bengals,-165,Los Angeles Chargers,145,Los Angeles Chargers,Los Angeles Chargers,0.093772,1.50,2.175
47,2021-12-05,Las Vegas Raiders,-125,Washington Football Team,105,Washington Football Team,Washington Football Team,0.196437,2.00,2.100
57,2021-12-13,Arizona Cardinals,-135,Los Angeles Rams,115,Los Angeles Rams,Los Angeles Rams,0.153349,2.00,2.300
71,2021-12-27,New Orleans Saints,135,Miami Dolphins,-155,Miami Dolphins,New Orleans Saints,0.107556,2.25,-2.250
72,2022-01-02,Baltimore Ravens,165,Los Angeles Rams,-195,Los Angeles Rams,Baltimore Ravens,0.139021,2.25,-2.250

In [189]:
# Per Month
df['month'] = df['date'].dt.month
df['month'] = df['month'].apply(lambda x: calendar.month_abbr[x])
per_month = df.groupby(['month']).aggregate({'risk_profit': 'sum', 'risk_correct': ['sum', 'count']})
per_month['perc'] = (per_month[('risk_correct', 'sum')] / per_month[('risk_correct', 'count')] * 100).apply(round)
per_month.sort_values(by=[('risk_profit', 'sum'), ], ascending=False)

      risk_profit risk_correct       perc
              sum          sum count
month
Jan     11.322702           14    16   88
Dec     10.477709           23    28   82
Oct      6.084821           16    24   67
Feb      2.105263            1     1  100
Sep      2.000000            1     1  100
Nov    -37.019291           10    19   53

In [190]:
# Per Week
per_week = df.groupby(['week']).aggregate({'risk_profit': 'sum', 'risk_correct': ['sum', 'count']})
per_week['perc'] = (per_week[('risk_correct', 'sum')] / per_week[('risk_correct', 'count')] * 100).apply(round)
per_week.sort_values([('risk_profit', 'sum')])

     risk_profit risk_correct       perc
             sum          sum count
week
10    -19.448276            2     6   33
15    -13.990335            6     9   67
9     -13.002202            3     6   50
11     -6.459184            2     3   67
8      -4.321429            2     5   40
6      -2.454545            3     4   75
7       0.426515            5     7   71
12      0.461800            2     3   67
22      2.105263            1     1  100
19      2.410981            3     4   75
18      2.996012            2     2  100
5       4.162851            5     7   71
16      4.855263            4     5   80
17      5.915710            9    10   90
14      8.964706            6     6  100
13     10.648075            7     8   88
4      11.700000            3     3  100

In [194]:
df[df['week'] == 10][['date', 'home', 'ml_h', 'away', 'ml_a', 'y', 'y_pred', 'pick_diff', 'risk_unit', 'risk_profit']]

,date,home,ml_h,away,ml_a,y,y_pred,pick_diff,risk_unit,risk_profit
32,2021-11-11,Miami Dolphins,310,Baltimore Ravens,-410,Miami Dolphins,Baltimore Ravens,0.195174,8.00,-8.000000
33,2021-11-14,Arizona Cardinals,-310,Carolina Panthers,245,Carolina Panthers,Arizona Cardinals,0.030071,1.50,-1.500000
34,2021-11-14,Indianapolis Colts,-450,Jacksonville Jaguars,340,Indianapolis Colts,Indianapolis Colts,0.117002,6.75,1.500000
35,2021-11-14,Las Vegas Raiders,125,Kansas City Chiefs,-145,Kansas City Chiefs,Kansas City Chiefs,0.105153,2.25,1.551724
36,2021-11-14,Los Angeles Chargers,-180,Minnesota Vikings,155,Minnesota Vikings,Los Angeles Chargers,0.194848,4.00,-4.000000
37,2021-11-14,Washington Football Team,340,Tampa Bay Buccaneers,-450,Washington Football Team,Tampa Bay Buccaneers,0.171814,9.00,-9.000000

In [192]:
# Per Team
per_team = df.groupby(['y_pred']).aggregate({'risk_profit': 'sum', 'risk_correct': ['sum', 'count']})
per_team['perc'] = (per_team[('risk_correct', 'sum')] / per_team[('risk_correct', 'count')] * 100).apply(round)
per_team.sort_values(by=[('risk_profit', 'sum'), ], ascending=False)

                         risk_profit risk_correct       perc
                                 sum          sum count
y_pred
New York Jets               8.200000            1     1  100
Kansas City Chiefs          8.024781            8     9   89
Los Angeles Rams            7.979001            6     6  100
Minnesota Vikings           3.546160            2     2  100
Chicago Bears               3.435484            2     2  100
San Francisco 49ers         2.297876            3     3  100
Indianapolis Colts          2.250000            3     4   75
Philadelphia Eagles         2.160819            4     6   67
Washington Football Team    2.100000            1     1  100
Pittsburgh Steelers         1.475410            1     1  100
New York Giants             1.250000            1     1  100
Atlanta Falcons             1.200000            1     1  100
Los Angeles Chargers        1.155392            3     4   75
Miami Dolphins              0.961538            1     1  100
Cleveland Browns            0.500000            1     2   50
New England Patriots        0.488889            1     1  100
Seattle Seahawks           -0.117647            1     2   50
Denver Broncos             -1.000000            1     2   50
New Orleans Saints         -1.178571            1     2   50
Cincinnati Bengals         -1.428571            2     4   50
Dallas Cowboys             -5.744313            3     5   60
Buffalo Bills              -6.250000            4     6   67
Tennessee Titans           -7.006536            2     3   67
Tampa Bay Buccaneers       -7.813726            8    11   73
Baltimore Ravens           -9.264780            3     6   50
Arizona Cardinals         -12.250000            1     3   33